@model pk3.Models.Product

@{
    Layout = null;
}

<!--<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
    
       
    <li>@Html.ActionLink("AutoProperty ahora", "AutoProperty"); </ li > 
    <li>@Html.ActionLink("UseExtension ahora", "UseExtension"); </ li > 
    <li>@Html.ActionLink("CreateCollection ahora", "CreateCollection");</li>


<ul id = "menú" > 
    <li> @Html.ActionLink("AutoProperty ahora", "AutoProperty");</ li > 
    <li> @Html.ActionLink("UseExtension ahora", "UseExtension");</ li > 
    <li> @Html.ActionLink("CreateCollection ahora", "CreateCollection");</ li > 
</ ul >


</div>
</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


</head>
<body>
    <center><section>
<ul id="menu">
    <li> @Html.ActionLink("AutoProperty ahora", "AutoProperty");</ li > 
    <li> @Html.ActionLink("UseExtension ahora", "UseExtension");</ li > 
    <li> @Html.ActionLink("CreateCollection ahora", "CreateCollection");</ li > 
</ul>
        </section></center>
</body>
</html>